body {
  text-align: center;
  background-color: #e8e4e1;
}

h1 {
  font-size: 5rem;
  color: #af8baf;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
}

h3 {
  color: #af8baf;
  font-family: "Arvo", cursive;
}

footer {
  color: #af8baf;
  font-family: "Arvo", cursive;
}

.bongocat {
  width: 10%;
  margin-top: 40px;
}

.w {
  background-image: url("images/tom1.png");

}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #af8baf;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #af8baf;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 45px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.heart {
  width: 2%;
}
